* {
  box-sizing: border-box;
}

a, u {
  text-decoration: none;
}

.containerFlexible {
  max-width: 80%;
  margin: auto;
  line-height: 1.5;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.logo {
  float: left;
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgb(7, 139, 172);
  overflow: auto;
}

.navbar {
  width: 100%;
  padding: 5px;
  float: right;
  text-align: right;
  background-color: rgb(7, 139, 172);
  overflow: auto;
  border-bottom: 20px solid white;
}

.navbar a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: lightblue;
}

.footbar {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(7, 139, 172);
  overflow: auto;
}

.footbar a:hover {
  color: lightblue;
}

.copyright {
  padding: 10px;
  color: white;
  text-decoration: none;
  float: center;
  font-size: small;
  overflow: auto;
}

.footLinks {
  padding: 10px;
  color: white;
  text-decoration: none;
  float: center;
  font-size: small;
  overflow: auto;
}
.footLinks a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: small;
}

.center {
  margin: auto;
  text-align: center;
}

.centerImage {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.blueBlock {
  margin: auto;
  background-color: rgb(7, 139, 172);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.paragraphBlock {
  margin: auto;
  padding: 10px;
  font-size: medium;
  line-height: 2.0;
}

.paragraphBlock a {
  color: rgb(7, 139, 172);
}

.paragraphBlock a:hover {
  color: lightblue;
}

.customIndent {
  padding-left: 2em;
}

.featureImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}

.publicationImage {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 300px;
}

.siteBlue {
  width: 100%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(7, 139, 172);
}

.blueText {
  color: rgb(7, 139, 172);
}

.blueText a {
  color: rgb(7, 139, 172);
}

.blueText a:hover {
  color: lightblue;
}

.codeBlock {
  background-color: lightgray;
  max-width: 80%;
  padding: 15px;
  margin: 25px;
  color: black;
  padding: 5px;
  line-height: 2.0;
  text-align: left;
  font-weight: bold;
  font-size: medium;
}
